<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CLan.Properties.Settings>
            <setting name="DefaultPrivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultAcceptTransfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultAskSavePath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PicturePath" serializeAs="String">
                <value>/Images/user.png</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>CLan User</value>
            </setting>
            <setting name="BackgroundPath" serializeAs="String">
                <value>/Images/background.jpg</value>
            </setting>
            <setting name="DefaultRenameFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultNetworkInterface" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkBackgroundPath" serializeAs="String">
                <value>/Images/darkTheme.jpg</value>
            </setting>
            <setting name="SwapBackgroundPath" serializeAs="String">
                <value>/Images/background.jpg</value>
            </setting>
        </CLan.Properties.Settings>
    </userSettings>
</configuration>